# **实验题目2：美国总统大选数据分析**

实验内容：现有一份美国大选捐款的统计数据，根据给出的数据，分析数据并实现以下要求：

1、统计各个州的捐款总额，并在美国地图上画出各州捐款总额的热度图（heatmap），颜色越深的州代表捐款额越多，要求图表美观易懂。

2、统计获得捐赠额最多的三位候选人的捐赠额变化趋势，使用折线图展示，横轴表示时间，纵轴表示捐赠额，要求图表美观易懂。

3、分析出获得捐款额最多的候选人，然后将此候选人的捐赠者的姓名画成词云图。

In [1]:
import pandas as pd
import numpy as np

In [2]:
import seaborn as sb

In [3]:
sb.set()

In [4]:
originData = pd.read_csv(
    "data/itcont_2020_20200722_20200820.txt", sep='|')

C:\Users\Delta\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (10,15,16,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
originData.head()

,CMTE_ID,AMNDT_IND,RPT_TP,TRANSACTION_PGI,IMAGE_NUM,TRANSACTION_TP,ENTITY_TP,NAME,CITY,STATE,...,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,OTHER_ID,TRAN_ID,FILE_NUM,MEMO_CD,MEMO_TEXT,SUB_ID
0,C00701888,A,M8,P,202009149267170153,10,IND,"BAUMGART, STEPHEN",LOS GATOS,CA,...,VARIAN MEDICAL SYSTEMS,SYSTEMS ENGINEER PHYSICIST,7222020,500,NaN,12885178,1437664,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,4092320201849287519
1,C00701888,A,M8,P,202009149267170154,10,IND,"HELBERG, JACOB",SAN FRANCISCO,CA,...,STANFORD CYBER POLICY CENTER,SENIOR ADVISOR,7232020,250000,NaN,12854698,1437664,NaN,NaN,4092320201849287521
2,C00701888,A,M8,P,202009149267170135,10,IND,"CONSIGLI, ANTHONY",MILFORD,MA,...,"WHITEWOOD VENTURES, LLC",CHIEF EXECUTIVE OFFICER,7312020,25000,NaN,14260296,1437664,X,NaN,4092320201849287464
3,C00701888,A,M8,P,202009149267170136,10,IND,"POTASH, ANDREW",MAMARONECK,NY,...,DISTINGUISHED PROGRAMS INSURANCE,CHIEF EXECUTIVE OFFICER,7282020,100000,NaN,12885744,1437664,NaN,NaN,4092320201849287468
4,C00701888,A,M8,P,202009149267170155,10,IND,"WEINER, STEPHEN R.",BOSTON,MA,...,S.R. WEINER AND ASSOCIATES,DEVELOPER,7282020,25000,NaN,12885619,1437664,NaN,NaN,4092320201849287525

In [6]:
print(originData.columns)

Index(['CMTE_ID', 'AMNDT_IND', 'RPT_TP', 'TRANSACTION_PGI', 'IMAGE_NUM',
       'TRANSACTION_TP', 'ENTITY_TP', 'NAME', 'CITY', 'STATE', 'ZIP_CODE',
       'EMPLOYER', 'OCCUPATION', 'TRANSACTION_DT', 'TRANSACTION_AMT',
       'OTHER_ID', 'TRAN_ID', 'FILE_NUM', 'MEMO_CD', 'MEMO_TEXT', 'SUB_ID'],
      dtype='object')

In [9]:
stateAmt =  originData[['STATE', 'TRANSACTION_AMT']]
stateAmt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1955607 entries, 0 to 1955606
Data columns (total 2 columns):
 #   Column           Dtype
---  ------           -----
 0   STATE            object
 1   TRANSACTION_AMT  int64
dtypes: int64(1), object(1)
memory usage: 29.8+ MB

In [32]:
doantionPerState = stateAmt.groupby('STATE')['TRANSACTION_AMT'].sum()

In [34]:
doantionPerState

STATE
AA       10883
AE       41439
AK      785915
AL     1648404
AP       14659
        ...
WA    10685406
WI     4792556
WV      446445
WY      735443
ZZ      423546
Name: TRANSACTION_AMT, Length: 62, dtype: int64

## 统计各个州的捐款总额，并在美国地图上画出各州捐款总额的热度图（heatmap），颜色越深的州代表捐款额越多，要求图表美观易懂。